/* body{ */
  /* background-color: aquamarine; */
/* } */

.board-container {
  padding: 16px;
  background-color: aquamarine;
  border-radius: 8px;
}

h3 {
  margin-bottom: 12px;
}

.board {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-x: auto;
  gap: 10px;
}

.board-container h3{
    text-align: center;
}

